span.icon>.fa {
    cursor: default;
}

.admonitionblock td.icon {
    text-align: center;
    width: 80px;
}

.admonitionblock td.icon [class^="fa icon-"] {
    font-size: 2em;
    /* text-shadow: 1px 1px 2px rgba(0,0,0,.5); */
    /* text-shadow:
   -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff; */
    cursor: default;
}

.admonitionblock td.icon .icon-note:before {
    content: "\f05a";
    color: #4589f2;
}

.admonitionblock td.icon .icon-tip:before {
    content: "\f0eb";
    /* text-shadow: 1px 1px 2px rgba(155,155,0,.8); */
    color: #e8e8e8;
}

.admonitionblock td.icon .icon-warning:before {
    content: "\f071";
    color: #f6ef3e;
}

.admonitionblock td.icon .icon-caution:before {
    content: "\f06d";
    color: #f72626;
}

.admonitionblock td.icon .icon-important:before {
    content: "\f06a";
    color: #21ed30;
}

/* Table styles */

table.tableblock {
    max-width: 100%;
    border-collapse: separate
}

table.tableblock td>.paragraph:last-child p>p:last-child, table.tableblock th>p:last-child, table.tableblock td>p:last-child {
    margin-bottom: 0
}

table.tableblock, th.tableblock, td.tableblock {
    border: 0 solid #999
}

table.grid-all th.tableblock, table.grid-all td.tableblock {
    border-width: 0 1px 1px 0
}

table.grid-all tfoot>tr>th.tableblock, table.grid-all tfoot>tr>td.tableblock {
    border-width: 1px 1px 0 0
}

table.grid-cols th.tableblock, table.grid-cols td.tableblock {
    border-width: 0 1px 0 0
}

table.grid-all *>tr>.tableblock:last-child, table.grid-cols *>tr>.tableblock:last-child {
    border-right-width: 0
}

table.grid-rows th.tableblock, table.grid-rows td.tableblock {
    border-width: 0 0 1px 0
}

table.grid-all tbody>tr:last-child>th.tableblock, table.grid-all tbody>tr:last-child>td.tableblock, table.grid-all thead:last-child>tr>th.tableblock, table.grid-rows tbody>tr:last-child>th.tableblock, table.grid-rows tbody>tr:last-child>td.tableblock, table.grid-rows thead:last-child>tr>th.tableblock {
    border-bottom-width: 0
}

table.grid-rows tfoot>tr>th.tableblock, table.grid-rows tfoot>tr>td.tableblock {
    border-width: 1px 0 0 0
}

table.frame-all {
    border-width: 6px
}

table.frame-sides {
    border-width: 0 1px
}

table.frame-topbot {
    border-width: 1px 0
}

th.halign-left, td.halign-left {
    text-align: left
}

th.halign-right, td.halign-right {
    text-align: right
}

th.halign-center, td.halign-center {
    text-align: center
}

th.valign-top, td.valign-top {
    vertical-align: top
}

th.valign-bottom, td.valign-bottom {
    vertical-align: bottom
}

th.valign-middle, td.valign-middle {
    vertical-align: middle
}

table thead th, table tfoot th {
    font-weight: bold
}

tbody tr th {
    display: table-cell;
    line-height: 1.6;
    background: #f7f8f7
}

tbody tr th, tbody tr th p, tfoot tr th, tfoot tr th p {
    color: rgba(0, 0, 0, .8);
    font-weight: bold
}

td {
    color: #eee;
    margin-top: 5px;
    margin-bottom: 5px;
}

th {
    background-color: #303030;
    margin-top: 10px;
    margin-bottom: 10px;
}

tr:nth-child(even) {
    background-color: #444 !important
}

tr:nth-child(odd) {
    background:  #555 !important
}
