<footer class="footer">
    <div class="container">

        <p class="text-center">
            &copy; {{ site.time | date: '%Y' }} {{ site.title }} | Powered by <a href="https://gitlab.com/rogalvao/jap-doc-theme">JAP Doc Theme</a> | <a href="{{ site.git_address }}"><i class="fa fa-lg fa-gitlab" aria-hidden="true"></i></a>
        </p>
        <!-- <p class="text-muted">Place sticky footer content here.</p> -->
    </div>
</footer>
