---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-md-3">
          {% include docs_nav.html %}
        </div>

        <div class="col-md-9">
            <h1>{{ page.title }}</h1>
            <div id="markdown-content-container">{{ content }}</div>
            <p class="text-center">
              <br />
              <a target="_blank" href="{{site.git_edit_address}}/{{ page.path }}" class="btn btn-default githubEditButton" role="button">
                <i class="fa fa-pencil fa-lg"></i>  Edit
              </a>
            </p>
            <hr>
        </div>

    </div>
</div>
